[tool.black]
line-length = 100
target-version = ["py310"]

[tool.ruff]
line-length = 100
target-version = "py310"
select = ["E","F","I","B","UP","SIM","PLC","PLE"]
ignore = ["E501"]

[tool.ruff.format]
quote-style = "double"